html {
  font-family: Merriweather, serif;
}

h1, h2, h3, nav, .about-content, .btn {
  font-family: Nunito, sans-serif;
}

.logo {
  min-width: 25%;
  max-width: 30%;
}

.nav {
  background-color: #4590d0;
  position: relative;
  z-index: 2;
}

a, .events {
  color: #4590d0;
}

a:hover {
  color: #ea7808;
}

.nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5rem .75rem;
}

.nav a:hover,
.nav a:focus {
  outline: 3px solid #000;
  background-color: #fff;
  color: #113c00;
}

.about {
  position: relative;
}

.about-content {
  color: #fff;
  background-color: #4590d0;
}

.btn-light, .btn {
  background-color: #ea7808;
  border-color: #ea7808;
  color: #fff;
}

.btn:hover {
  background-color: #535553;
  border-color: #000;
  color: #fff;
}

.events:hover {
  color: #6d3702;
}

.rescue li {
  text-decoration: none;
}

.facebook, .instagram, .twitter {
  width: 5%;
}

.footer {
  background-color: #4590d0;
  color: #fff;
}

.blue-tran {
  background-color: #e5ecf2;
}

@media only screen and (min-width: 35em) {

  .about-content {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #fff;

    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(17, 60, 0, 0), rgba(17, 60, 0, .8));
  }

}
